@model WebApplication2.CoreAndFood.Models.Entity.Food
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h3 style="margin-bottom:15px; margin-top:5px;">Gıda Ekleme Sayfası</h3>

@using (Html.BeginForm("Add", "Food", FormMethod.Post))
{
    <b><label>Gıda Adı</label></b>
    @Html.TextBoxFor(x => x.FoodName, new { @class = "form-control" })
    <br />
    <b><label>Kategori Adı</label></b>
    @Html.DropDownListFor(x=>x.CategoryId, (List<SelectListItem>)ViewBag.category, new { @class = "form-control" })
    <br />
    <b><label>Gıda Fiyat</label></b>
    @Html.TextBoxFor(x => x.UnitPrice, new { @class = "form-control" })
    <br />
    <b><label>Gıda Stok</label></b>
    @Html.TextBoxFor(x => x.UnitsInStock, new { @class = "form-control" })
    <br />
    <b><label>Resim Url</label></b>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    <b><label>Gıda Açıklaması</label></b>
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
    <br />

    <button class="btn btn-info">Gıda Ekle</button>
}


